@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
}

/* body::after {
    content: '';
    position: fixed;
    bottom: 0;
    background: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: -100;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0)
	);
} */
